.heading_fnt{
    font-size: 25px;
    font-weight: 600;
}
.pt-35{
    padding-top:25px ;
    font-weight: 600;
}
.pt-10{
    padding-top: 10px;
}
.pt-20{
    padding-top: 20px;
}
.icon_clr {
    color: #b3b1be;
}
.icon_clr_circle{
    color: #fff;
    border: 1px solid #b3b1be;
    border-radius: 10px;
}
.time_hding {
    color: #c3c2c8;
    font-size: 12px;
}
.title_hding {
    font-size: 13px;
    font-weight: 600;
    padding: 10px;
}
.pdt-10{
    padding-top: 20px;
}

.title_icon_clr {
    background-color: #b3b1be;
    padding: 5px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}

.addButton {
    position: fixed;
    bottom: 50px;
    right: 50px;
    background: #6e49f2;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    color: #fff;
    margin: 0 auto;
    padding: 3px;
    cursor: pointer;
    text-align: center;
    font-size: 28px;
    font-weight: 700;
}
.plus_clr {
    background-color: #eae9ef;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 4px;
    color: #b7b6be;
}
.clr_fnt {
    color: #b7b6be;
}
.table_wdth{
    width: 100%;
}