body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f8f8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.icon-bar {
  width: 70px;
  background-color: #555;
}

.icon-bar span {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: #b0aebb;
  font-size: 18px;
}

.icon-bar span:hover {
  background-color: #fff;
  border-left: 3px solid #6e49f2;
}

.active {
  background-color: #fff;
  color: #fff !important;
  border-left: 3px solid #6e49f2;
}
.active:hover{  
  color: #fff !important; 
}
.sidebar {
  height: 100%;
  background-color: #fff;
  position: fixed!important;
  z-index: 1;
  overflow: auto;
}
.bdr {
  background-color: #6e49f2;
  border-radius: 5px;
  padding: 3px;
}
/*Header Css*/
.icon-headerbar {
  width: 98%;
  /* background-color: #555; */
  overflow: auto;
  box-shadow: 0px 1px #f3f1f1;
}

.icon-headerbar span {
  float: left;
  width: 9%;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: #b0aebb;
  font-size: 14px;
}

.icon-headerbar span:hover {
  /* background-color: #000; */
  background-color: #fff;
  /* border-top: 5px solid #6e49f2; */
  padding-top: 12px 0;
}

.active-header {
  background-color: #fff;
  color: #6e49f2 !important;
  border-top: 1px solid #6e49f2;
}
.active-header:hover{  
  color: #6e49f2 !important; 
}
.header_bg {
  background-color: #fff;
  margin-left: 0px;
  padding: 0;
  top: 2px;
}
/* .header-bar {
  border: 5px solid #fff;
} */
.active-header-btm {
  background-color: #fff;
  color: #6e49f2 !important;
  border-bottom: 1px solid #6e49f2;
}
.active-header-btm:hover{  
  color: #6e49f2 !important; 
}
.flot_right{
  float: right;
  padding-left: 20px;
}
.fnt_clr_active{
  color: #6e49f2 !important;
  font-weight: 600;
  margin-right: 15px;
}
.header_bdr {
  border-left: 1px solid #b0aebb;
  margin-top: 10px;
}

.img_wdt {
  width: 70px;
  height: 70px;
  padding-top: 20px;
}
.cal_height{
  height: calc(100vh - 150px);
}
.setting_height{
  height: 150px;
}
.height75{
  height: 75px;
}

